/* subPackages/pages/book/index.wxss */
@import "../../../../app.scss"; // 引入全局变量

.book-list {

	background-color: #fff;

	.book-item {
		// height: 80rpx;
		// margin-bottom: 10rpx;

		padding: 20rpx;

		&:last-child {
			margin-bottom: 0;
		}

		.cover {
			width: 50rpx;
			height: 60rpx;
			margin-right: 20rpx;
		}


		.info {
			flex: 1;

			.book-name {
				color: #000000;
				font-size: 22rpx;
				// font-weight: 550;
				// padding-bottom: 8rpx;
			}

			.num {
				font-size: 20rpx;
				color: #666666;
			}
		}

		.icon {
			width: 34rpx;
			height: 34rpx;
		}
	}
}


/* pagesDemoList/pages/memorandum/index.wxss */


.search_bar {
	width: 100%;
	height: 70rpx;
	display: flex;
	align-items: center;
	background: #F3F4F6;
	border-radius: 4px;

	.search_bar_img_l,
	.search_bar_img_r {
		width: 14px;
		height: 14px;
		margin-left: 14rpx;
		margin-right: 14rpx;
	}

}


.tags {
	width: 100%;
	height: 70rpx;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 4px;

	.tag {
		width: 52.5px;
		height: 28px;
		line-height: 28px;
		background: #F3F4F6;
		border-radius: 999rpx;
		text-align: center;
		font-size: 12.25px;
		color: #4B5563;
		margin-right: 4px;

		&.selected {
			color: #FFFFFF;
			background-color: #000000;
		}
	}

	.tag_add {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 28px;
		height: 28px;
		line-height: 28px;
		background: #F3F4F6;
		border-radius: 100%;
		text-align: center;
		font-size: 12.25px;
		color: black;

		.tag_add_img {
			width: 10.72px;
			height: 17.5px;
		}
	}
}

.memo_contents {
	height: 121px;
	width: 100%;
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 4px;
	opacity: 1;
	box-sizing: border-box;
	margin-bottom: 10px;
	background: #FFFFFF;
	box-sizing: border-box;
	border: 1px solid #F3F4F6;

	&.memo_contents_active {
		transition: all 0.6s;
		background: #FFFBEB;
		border: 1px solid #FEF3C7;
	}

	.memo_contents_box {
		font-size: 14px;
		font-weight: bold;
		line-height: 21px;
		letter-spacing: 0px;
		color: #000000;
		display: flex;
		justify-content: space-between;
	}

	.memo_contents_title {
		width: 280px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.memo_contents_pushpin {
		width: 10.5px;
		height: 14px;
	}

	.memo_contents_main {

		font-size: 12.25px;
		font-weight: normal;
		// letter-spacing: 0px;
		color: #4B5563;

		height: 34px;

		// overflow: hidden;
		// white-space:nowrap;
		// text-overflow: ellipsis;

		display: -webkit-box;
		/*关键属性（必须有的）  */
		-webkit-box-orient: vertical;
		/*规定子元素的排列方向 */
		-webkit-line-clamp: 2;
		/*行数*/
		/* 实现多余的文字隐藏并用省略号来代表被隐藏的文字    */
		overflow: hidden;
		text-overflow: ellipsis;
		// word-wrap:break-word; 
		// word-break:break-all;



	}

	.memo_contents_tag {
		width: 100%;
		height: 17.5px;
		line-height: 17.5px;
		display: flex;
		justify-content: space-between;

		.memo_contents_tags {
			border-radius: 999rpx;
			background-color: #F3F4F6;
			display: flex;

			&.memo_contents_tags_active {
				background: #FEF3C7;
			}

			.memo_contents_tags_item {
				width: 35px;
				height: 17.5px;
				font-size: 10.5px;
				text-align: center;
			}
		}

		.memo_contents_time {
			font-size: 10.5px;
			color: #9CA3AF;
		}
	}
}

.shortcut {
	position: fixed;
	bottom: 0;
	height: 140rpx;
	// background-color: #FFFFFF;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 28rpx;
	padding-bottom: constant(safe-area-inset-bottom);
	/* 兼容iOS<11.2 */
	padding-bottom: env(safe-area-inset-bottom);
	/* 兼容iOS>=11.2 */
	padding-left: 20rpx;
	padding-right: 20rpx;

	.shortcut_count {
		width: 100%;
		height: 80rpx;
		font-size: 22rpx;
		font-weight: normal;
		letter-spacing: 2rpx;
		color: #fff;
		text-align: center;
		background-color: $-theme-color;
	}
}