/* subPackages/pages/transaction/info/index.wxss */

@import "../../../../app.scss"; // 引入全局变量

.bg-primary {
	background-color: $z-color-primary;
}

.bg-success {
	background-color: $z-color-success;
}

.bg-warning {
	background-color: $z-color-warning;
}

.bg-error {
	background-color: $z-color-error;
}

.text-primary {
	color: $z-color-primary;
}

.text-success {
	color: $z-color-success;
}

.text-warning {
	color: $z-color-warning;
}

.text-error {
	color: $z-color-error;
}
.transaction-info {
	.card {
		margin: 20rpx 0;
		background: #FFF;
		height: 100rpx;
		text {
			font-size: 22rpx;
		}
		.icon-category {
			.icon {
				width: 54rpx;
				height: 54rpx;
				margin-right: 20rpx;
			}

		}

	}

	.item {
		padding: 20rpx;
		background: #FFF;
		height: 90rpx;

		text {
			font-size: 22rpx;
		}
		.right-text {
			font-size: 22rpx;
			// font-size:50rpx;

		}
		.money {
			font-size: 26rpx;
			font-weight: 550;
		}
		
	}
}

.edit-del-btn {
	position: fixed;
	bottom: 0;
	height: 140rpx;
	background-color: #FFFFFF;
	width: 100%;
 /* 核心：iOS 安全区适配（兼容不同版本） */
 padding-bottom: constant(safe-area-inset-bottom); /* iOS < 11.2 */
 padding-bottom: env(safe-area-inset-bottom);     /* iOS >= 11.2 */
 /* 补充：微信小程序安卓端兼容（避免底部被虚拟按键遮挡） */
 padding-bottom: calc(env(safe-area-inset-bottom) + 0rpx); /* 统一计算方式 */
	box-sizing: border-box;
	/* 兼容iOS>=11.2 */
	.btn {
		flex: 1;
		height: 100%;
		text-align: center;
		font-size: 22rpx;
		line-height: 140rpx;
	}

	.del {
		color: #ff0000;
	}

	.edit {
		color: #000000;
	}
}
