/* components/z-cell-group/z-cell-group.wxss */
.cellList {

    width: 100%;
    border-radius: 24rpx;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 20rpx;
    background-color: #ffffff;

}