/* components/z-cell/z-cell.wxss */
.cellList {
  .settingsCenter.cellborder {
    border-bottom: 2rpx solid #f7f8f8;

    &:last-child {
      border-bottom: none;
    }
  }

}

.cellList {
  .settingsCenter {
    width: 100%;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    height: 108rpx;
    line-height: 108rpx;
    background-color: #ffffff;

    font-size: 32rpx;
    padding: 0 20rpx;

    &.cell-one {

      border-bottom: 2rpx solid #f7f8f8 !important;
    }

    .cell-left {
      width: 46rpx;
      height: 46rpx;
      vertical-align: middle;
      text-align: center;
      margin-right: 10rpx;
    }

    .cell-center {
      font-weight: 400;
      flex: 1;
      font-size: 28rpx;
      color: #252C39;
    }

    .cell-note {
      font-size: 24rpx;
    }

    .cell-right {
      // width: 40rpx;
      // height: 46rpx;
      width: 34rpx;
      height: 34rpx;
      vertical-align: middle;
      text-align: center;
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABySURBVEhLYxgFQwLsB2ItCJN0wASl8YGDQLwKiMm2hBjQAMRXgHjUEqLA8LMELyAmmWIDIJeHAPE6MI/KAGQ4yOUdYB6VAczwXjCPygBm+GQwj8oAZvhMMI/KAGb4fDCPBgBk+FIIkzYAlN5HwZAFDAwAOIkWSG68ePUAAAAASUVORK5CYII=");
      background-size: cover;

    }
  }
}