/* subPackages/pages/category/index.wxss */
@import "../../../app.scss"; // 引入全局变量

.tab-head {
	height: 80rpx;
	background-color: antiquewhite;
}

.subsection {
	width: 320rpx;
	font-size: 22rpx;
}

.icon-delete {
	width: 32rpx;
	height: 32rpx;
	margin: 0 20rpx;
}


.tab-container {
	padding: 20rpx;


	/*****滑动删除***/
	.bill-container-cate {
		background: #fff;
		padding: 20rpx 0;
		overflow: hidden;


		.bill-wrapper {
			position: relative;
			top: 0;
			height: 70rpx;
			// margin: 12rpx 0;
			overflow: hidden;
			// background-color: #999999;
			margin-bottom: 20rpx;
		}

		.bill-wrapper .bill-wrapper_item {
			position: relative;
			left: 0;
			height: 70rpx;
			transition: all 0.3s;
		}



		/**账单列表*/
		.bill-item {

			&_header {
				color: #999999;
				padding: 20rpx 0;
				font-size: 20rpx;

				.money {
					.income {
						margin-right: 10rpx;
					}
				}
			}

			&_items {
				position: relative;
				left: 0;
				transition: all 0.3s;
				height: 70rpx;
				// margin: 4rpx 0;
				// background-color: #FFF;
				overflow: hidden;

				transition: all 0.3s;

				.left-icon {
					width: 60rpx;
					height: 60rpx;
					margin-right: 14rpx;
				}


				.borde {
					flex: 1;
				}

				.center-info {
					flex: 1;

					.title {
						font-size: 22rpx;
						color: #000;
						padding-bottom: 4rpx;
					}

					.tags {
						font-size: 18rpx;
						color: #999999;
						padding: 4rpx 0;

						text {
							margin-right: 4rpx;
						}
					}

					.date-other {
						font-size: 18rpx;
						color: #999999;

						.text {
							margin-right: 4rpx;
						}
					}
				}

				.right-money {
					font-size: 24rpx;
				}
			}
		}

		.bill-wrapper .del_button {
			position: absolute;
			right: -130rpx;
			width: 130rpx;
			height: 100%;
			// height: 253rpx;
			background-color: #F64226;
			color: #fff;
			top: 0;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: all 0.3s;
			font-size: 22rpx;
		}

		.active .bill-wrapper_item {
			height: 100%;
			left: -130rpx;
		}

		.active .del_button {
			right: 0;

		}

	}


}

.del-tips{
padding: 40rpx;
font-size: 22rpx;
line-height: 30rpx;
}
.edit-del-btn {
	position: absolute;
	bottom: 0;
	height: 140rpx;
	// background-color: #FFFFFF;
	width: 100%;
	/* 核心：iOS 安全区适配（兼容不同版本） */
	padding-bottom: constant(safe-area-inset-bottom);
	/* iOS < 11.2 */
	padding-bottom: env(safe-area-inset-bottom);
	/* iOS >= 11.2 */
	/* 补充：微信小程序安卓端兼容（避免底部被虚拟按键遮挡） */
	padding-bottom: calc(env(safe-area-inset-bottom) + 0rpx);
	/* 统一计算方式 */
	box-sizing: border-box;
	padding-left: 20rpx;
	padding-right: 20rpx;
	/* 新增：父容器开启 flex 布局（核心） */
	display: flex;
	/* 按钮之间的间距（可自定义，比如 20rpx） */
	gap: 20rpx;
	/* 让按钮垂直居中（可选，优化视觉） */
	align-items: center;

	/* 兼容iOS>=11.2 */
	.btn {
		flex: 1;
		height: 80rpx;
		text-align: center;
		font-size: 22rpx;
		line-height: 80rpx;
		letter-spacing: 2rpx;

	}

	.del {
		color: #ff0000;
		background-color: #f4f2f7;
	}

	.edit {
		color: #000;
		background-color: $-theme-color;
	}
}

.sort-order{
	width: 50rpx;
	height: 50rpx;
}




/* 拖拽相关样式 */
.bill-wrapper {
  transition: all 0.2s ease;
  transform: translateZ(0); /* 开启硬件加速，兼容Skyline */
}

/* 拖拽中的分类项样式 */
.bill-wrapper[style*="z-index: 999"] {
  background: #fff;
  box-shadow: 0 4rpx 20rpx rgba(0, 0, 0, 0.1);
  opacity: 0.95 !important;
}

/* 拖拽手柄样式优化 */
.sort-order {
  width: 40rpx;
  height: 40rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  user-select: none;
  -webkit-user-select: none;
}