@import '../../app.scss';

page {
	box-sizing: border-box;
}

.z_position {
	background-color: $-theme-color;
}

.top_img {
	position: relative;
	width: 100%;
	height: 500rpx;
	top: 0;
	left: 0;
	background-color: $-theme-color;
	.icon-copperplate {
		position: absolute;
		right: -40rpx;
		top: -40rpx;
		width: 360rpx;
		height: 360rpx;
	}

}

.login_container {
	top: 480rpx;
	left: 0;
	background-color: #ffffff;
	width: 100%;
	border-radius: 20rpx 20rpx 0 0;
	box-sizing: border-box;
	height: calc(100vh - 480rpx);
	padding: 40rpx 40rpx 0;


	.login_phone {
		border-bottom: 1rpx solid #f4f2f7;
		margin-bottom: 40rpx;
		line-height: 80rpx;
		height: 80rpx;
		align-items: center;

		image {
			height: 40rpx;
			margin-right: 14rpx;
		}

		.login_phone_placeholder {
			color: $z-text-color-placeholder;
			flex: 1;
			font-size: 24rpx;

			input {
				font-size: 24rpx;
			}
		}

		.login_phone_open {
			font-size: 22rpx;
			color: $-theme-color;
		}

		.input-placeholder {
			font-family: 'WeChatSansStd';
			font-size: 26rpx;
		}
	}

	.login_push {
		margin-bottom: 40rpx;
		height: 50rpx;
		// line-height: 50rpx;

		.icon-small {
			margin-right: 6rpx;
		}

		.login_push_placeholder {
			display: flex;
			color: $z-text-color-placeholder;
			font-size: 20rpx;
			.privacy {
				color: $-theme-color;
				
			}
		}


	}

	.login_btn {
		width: 100%;
		height: 80rpx;
		line-height: 80rpx;
		background-color: $-theme-color;
		color: #000;
		text-align: center;
		letter-spacing: 2px;
		font-size: 22rpx;

		&.login_btn_d {
			opacity: 0.7;
			background-color: #ffd608b3;
		}
	}

}