/* components/calendar/calendar.wxss */
@import "../../app.scss"; 
@font-face {
	font-family: 'WeChatSansStd';
	src: url('https://env-00jxubueh4pn.normal.cloudstatic.cn/WeChatSansStd-Regular.ttf?expire_at=1764047061&er_sign=acc877bca1f5872e4cbd7cfb2c7da03f');
}

.num {
	font-family: 'WeChatSansStd';
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.direction-column {
  flex-direction: column;
}

.flex1 {
  flex: 1;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-stretch {
  align-items: stretch;
}

.calendar {
  background-color: #fff;
	padding:20rpx;
	border-radius: 10rpx;
	overflow: hidden;
}

// .calendar .title {
//   font-size: 40rpx;
//   color: #333;
//   padding:0 20rpx;
//   line-height: 60rpx;
// }

.calendar .title .year-month {
  margin: 20rpx;
  font-size: 24rpx;
  color: #333;
}

.calendar .title .icon {
  padding: 0 20rpx;
  font-size: 22rpx;
}

.calendar .title .open {
  background-color: #f6f6f6;
  color: #999;
  font-size: 22rpx;
  line-height: 36rpx;
  border-radius: 18rpx;
  padding: 0 20rpx;
}

/* 星期栏（带间距） */
.calendar .calendar-week {
  line-height: 60rpx;
  font-size: 22rpx;
  color: #999999;
  /* background: #EEF9FF; */
  justify-content: flex-start;
	margin-bottom: 20rpx;
  --col-gap: 2rpx;
  --col-width: calc((100% - var(--col-gap) * 6) / 7);
}

.calendar .calendar-week .view {
  width: var(--col-width);
  text-align: center;
  flex-shrink: 0;
  margin-right: var(--col-gap);
}
.calendar .calendar-week .view:nth-child(7n) {
  margin-right: 0;
}

/* 日历主体（带间距） */
.calendar .calendar-main {
  transition: height 0.3s;
  align-content: flex-start;
  overflow: hidden;
  --col-gap: 2rpx;
  --col-width: calc((100% - var(--col-gap) * 7) / 7);
}

.calendar .calendar-main .day {
  position: relative;
  width: var(--col-width);
  color: #666;
  text-align: center;
  height: 90rpx;
  flex-shrink: 0;
  margin-right: var(--col-gap);
}
.calendar .calendar-main .day:nth-child(7n) {
  margin-right: 0;
}

.calendar .calendar-main .day .bg {
  /* 100%适配父容器，替换固定100rpx */
  width: 100%;
	height: 100%;
  // line-height: 80rpx;
  font-size: 22rpx;
  color: #333;
  position: relative;
	margin: 0 auto;
	border: 1rpx solid transparent;
}

.calendar .calendar-main .day .select {
  /* 100%适配父容器，替换固定100rpx */
  width: 100%;
  height:90rpx;
  text-align: center;
  // line-height: 80rpx;
  color: #000000;
  margin: 0 auto;
  border-radius: 4rpx;
	border: 1rpx solid #FFD608;
	transition: all .3s ;
}

.calendar .calendar-main .day .other-month {
  color: #ccc;
}

.calendar .calendar-main .day .spot {
  width: 8rpx;
  height: 8rpx;
  background-color: #3179CB;
  border-radius: 50%;
  position: absolute;
  bottom: 3px;
  left: 50%;
  margin-left: -4rpx;
}

.cal_title {
  font-size: 24rpx;
  font-weight: bold;
  color: #333;
}

.iconfont {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* color: #3179CB; */
	width: 34rpx;
	height: 34rpx;
}

/* .left-color,
.right-color {
  display: block;
  width: 0;
  height: 0;
  border-top: 16rpx solid transparent;
  border-bottom: 16rpx solid transparent;
}

.left-color {
  border-right: 20rpx solid transparent;
  border-right-color: #3179CB;
}

.right-color {
  border-left: 20rpx solid transparent;
  border-left-color: #3179CB;
} */

.spot_ative {
  background: #fff !important;
}

.money{
  position: absolute;
  left:50%;
  top:36rpx;
  transform: translateX(-50%);
  font-size:16rpx;

}
.text-success{
	color:$z-color-success;
}
.text-error{
	color: $z-color-error;
}