.tip{
  color: #999;
  font-size: 24rpx;
  padding: 0 20rpx 20rpx 20rpx;
}
.preview{
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 80rpx;
  line-height: 80rpx;

  text-align: center;
  font-size:26rpx;
  color: #ffffff;
  background-color: #bf98d2;
  border-radius: 4px;
}