/* pages/home/detail/index.wxss */
.container{
  .img{
  
    height: 200px;
    width: 100%;
    border-radius: 8px;
  }

    // 文字两边横线
    .main_view{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      flex: 1 1 auto;
      width: 100%;
      height: 60rpx;
      
    }
    
    .befor{
      // width: 200rpx;
      flex: 1 1 auto;
      height: 1rpx;
      background: #b8b8b8;
    }
    .after{
      // width: 200rpx;
      flex: 1 1 auto;
      height: 1rpx;
      // background: #D8D8D8;
      background: #b8b8b8;
    }
    
    .reason_txt{
      font-size: 34rpx;
      padding: 0 16rpx;
      text-align: center;
      color: #8b8b8b;
    }
    
    
    
  


  

  
  
}
