/* subPackages/pages/transaction/calendar/index.wxss */
@import "../../../../app.scss"; // 引入全局变量
.text-error {
	color: $z-color-error;
}

.calendar-content{
	padding: 20rpx;
	overflow: hidden;
}
.bill-item_header {
	padding:20rpx;

	.bill-title {
		font-weight: 550;
		color: #333;
		font-size: 20rpx;
	}
	.money{
		font-size: 20rpx;
		view{
			margin-left: 20rpx;
		}
	}

}