/* subPackages/pages/transaction/add/index.wxss */
@import "../../../../app.scss"; // 引入全局变量
page {
  height: 100vh;
  background: #FFF;
}


.no-data-1 {
  height: 300rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-icon {
    width: 60rpx;
    height: 60rpx;
    margin: 20rpx 0;
  }

  &-text {
    font-size: 22rpx;
    text-align: center;
    color: #666;
    font-weight: 550;

    view {
      padding-bottom: 14rpx;
    }
  }
}






.tab-container {
  display: flex;
  flex-direction: column;
}

.tab-list {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #f4f2f7;
  margin-bottom: -1rpx;
}

.tab-item {
  display: flex;
  height: 80rpx;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 1;
  font-weight: 550;
  font-size: 22rpx;
}

.active {
	font-size: 24rpx;
  color: #FFD608;
  transition: all .3s ease;
}

.item-0 {
  &.active {
		font-size: 24rpx;
    color: #FF4308;
    transition: all .3s ease;
  }
}

.tab-border {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  background-color: #07c160;
  width: 15%;
  transform: translateX(0) scaleX(0.7);
  z-index: 1;
}


.money-content {
  // 
  background-color: #f4f2f7;
  // 

  .conent {
    background-color: #FFF;
    margin: 0 20rpx;
    padding: 40rpx 20rpx;
  }

  .lt {
    .icon {
      width: 60rpx;
      height: 60rpx;
    }

    .icon-title {
      margin-left: 12rpx;
      font-size: 26rpx;
      font-weight: 550;
    }
  }

  .money {
    font-size: 46rpx;
    font-weight: 550;

    &.active {
      color: #ff0000;
    }
  }
}





.scroll-list {
  flex: 1;
  width: 100%;
  overflow-y: scroll;
  background-color: #f4f2f7;
}


swiper-item {
  padding: 30rpx 0;
  height: 80%;
}



.card {
  .list {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    /* 允许换行 */
    // gap: 15rpx;
    /* 项目之间的间距（小程序用rpx，Web用px） */
    // padding: 20rpx;
    width: 100%;
    box-sizing: border-box;

    // align-content: stretch;
    // align-content: flex-start;
    // justify-content: space-between;
    .item {
      // width: 20%;
      // flex: 0 0 20%;
      flex: 0 0 calc(20% - 2rpx);
      /* 计算宽度：25%减去间距的一部分 */
      /* 或者使用固定宽度：width: calc(25% - 11.25rpx); */
      height: 120rpx;
      text-align: center;
      box-sizing: border-box;

      .icon {
        width: 54rpx;
        height: 54rpx;
        margin: 0 auto;

        &.active {
          border: 1rpx solid $-theme-color;
        }
      }

      .icon-title {
        padding-top: 4rpx;
        font-size: 20rpx;
      }
    }
  }

}




















.keyboard {
  width: 100%;
  // padding: 20rpx;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  text-align: center;
  position: absolute;
  bottom: 0;
  font-family: 'WeChatSansStd';
  padding-bottom: env(safe-area-inset-bottom);
}

.key {
  width: calc((100vw - 2rpx)/4);
  box-sizing: border-box;
  // background: rgb(36, 33, 33);
  line-height: 110rpx;
  // height: 110rpx;
  color: #000;
  font-size: 40rpx;

  // &:active {
  //   background-color: rgb(184, 84, 84);
  // }
}

.key.flex2 {
  width: calc((100vw - 30rpx - 40rpx)/2);
}

/* 底部3层键盘 */
.keyboard-bottom3 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  text-align: center;
}

/* 底部3层左侧数字键盘 */
.keyboard-bottom3-num {
  // flex: 3;
  // margin-right: 12rpx;
  // display: flex;
  flex-direction: column;
  // align-items: stretch;
  justify-content: space-between;
}

/* 键盘每行 */
.keyboard-row {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  // margin-bottom: 12rpx;

}

/* 底部按钮margin清0 */
.zero,
.dot,
.submit {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 退格按钮图片 */
.del {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.del image {
  width: 30rpx;
  height: 28rpx;
}

/* 确定按钮文字居中 */
.submit {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: $-theme-color;
  color: #FFFFFF;
  height: 100%;
  transition: all .3s ease;

  &.active {
    background: #FF4308;
    transition: all .3s ease;
  }
}


.keyboard-head {
  // display: flex;
  // flex-direction: row;
  // align-items: center;

  // margin-bottom: 15rpx;
  position: relative;
  background-color: #f4f2f7;

  .remark {
    padding: 0 20rpx;
    height: 60rpx;
    text-align: left;
    color: #000;
		line-height: 60rpx;
		background-color: #fff;
		margin: 10rpx 0;
		input{
			height: 100%;
		}
  }

  .keyboard-tab-list {
    position: relative;
    // height: 70rpx;
    text-align: left;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    // transition: all .3s ease;
    // background-color: #07c160
    .left {
      .bill-tag {
        display: inline-block;
        height: 46rpx;
        line-height: 46rpx;
        padding: 0 8rpx;
        background-color: #FFF;
        margin-right: 8rpx;
      }

    }


    .right {
      position: absolute;
      right: 20rpx;
      top: 0;
      .upload {

        height: 50rpx;
        width: 50rpx;
        margin: 0 auto 0;
      }
    }

  }
}

.category-child-list {
  transition: all .3s ease;

  view {
    display: inline-block;
    height: 40rpx;
    line-height: 40rpx;
    padding: 0 8rpx;
    margin-right: 8rpx;
  }

  .active {
    background:$-theme-color;
    color: #fff;
    transition: all .3s ease;
  }
  .not-active{
    background-color: #FFF;
  }
}

.l-input-class {
  text-align: left;
}

.amount {
  position: absolute;
  right: 0;
  margin-right: 20rpx;
}

.del-image {
  width: 46rpx;
  height: 46rpx;
  vertical-align: middle;
}








.popup-content {
  width: 100vw;
  background-color: #FFF;
}

.account-list {

  // .account-scroll{
  //   height: calc(100% -  env(safe-area-inset-bottom));
  // }
  .default {
    padding: 20rpx;
    line-height: 76rpx;
    font-size: 24rpx;
    font-weight: 550;
    color: #000;
    border-bottom: 20rpx solid #f4f2f7;

    .account-name {
      flex: 1;
      margin-left: 20rpx;
    }

    .icon {
      width: 32rpx;
      height: 32rpx;
    }
  }

  .item {
    margin-bottom: 20rpx;
    padding: 20rpx;

    .item-header {
      padding-bottom: 20rpx;
      color: #666666;
      font-size: 20rpx;
    }

    .item-items {
      color: #000;
      margin-bottom: 20rpx;

      &:last-child {
        margin: 0;
      }

      .account-icon {
        width: 76rpx;
        height: 76rpx;
      }

      .account-name {
        flex: 1;
        margin-left: 20rpx;
      }

      .icon {
        width: 32rpx;
        height: 32rpx;
      }
    }
  }
}









.book-list {
  padding: 20rpx;

  .book-item {
    margin-bottom: 40rpx;

    .cover {
      width: 80rpx;
      height: 100rpx;
      margin-right: 20rpx;
    }

    .info {
      flex: 1;
      .book-name {
        color: #000000;
        font-weight: 550;
        padding-bottom: 8rpx;
      }

      .num {
        font-size: 20rpx;
        color: #666666;
      }
    }
    .icon{
      width: 32rpx;
      height: 32rpx;
    }
  }
}


.category-list {
  padding: 20rpx;

  .category-item {
    .cover {
      width: 54rpx;
      height: 54rpx;
      margin-right: 20rpx;
    }

    .info {
      flex: 1;
      .category-name {
        font-size: 22rpx;
        color: #000000;
        font-weight: 550;
      }

    }
    .icon{
      width: 32rpx;
      height: 32rpx;
    }
  }
}

.scroll-fixed{
  position: fixed;
  bottom: 0;
  height: 140rpx;
  background-color: #FFFFFF;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  28rpx ;
  padding-bottom: constant(safe-area-inset-bottom);
  /* 兼容iOS<11.2 */
  padding-bottom: env(safe-area-inset-bottom);
  /* 兼容iOS>=11.2 */

}