/* subPackages/pages/account/category/index.wxss */




.sy_container {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 20rpx 60rpx 20rpx 20rpx;
}

.hot_city .title {
	padding: 10rpx 30rpx;
	color: #999;
	font-size: 24rpx;
}

.hot_city .box {
	background-color: #fff;
	padding: 20rpx;
	box-sizing: border-box;
}

.hot_city .box .name {
	vertical-align: top;
	display: inline-block;
	min-width: 140rpx;
	line-height: 56rpx;
	height: 56rpx;
	border-radius: 28rpx;
	font-size: 22rpx;
	color: #333;
	text-align: center;
	padding: 0 20rpx;
	box-sizing: border-box;
	margin-top: 10rpx;
	margin-right: 20rpx;
	position: relative;
	flex: 1;
}

.hot_city .box .name::after {
	content: '';
	position: absolute;
	width: 200%;
	height: 200%;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: scale(0.5, 0.5);
	transform: scale(0.5, 0.5);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	left: 0;
	top: 0;
	border-radius: 56rpx;
	border: 1rpx solid rgb(235, 225, 225);
}

.sel_city {
	color: #fff !important;
	background: pink;
}

.all_city .letter_name {
	height: 48rpx;
	font-size: 24rpx;
	color: #999;
	background: #f2f5f7;
	line-height: 48rpx;
}

.all_city .city {
	background-color: #fff;


	.icon-name {
		margin-bottom: 20rpx;
			padding: 10rpx;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.all_city .city .icon {
	width: 60rpx;
	height: 60rpx;
	flex-shrink: 0;
	margin-right: 20rpx;
}

.all_city .city .name {
	width: 100%;
	// padding: 30rpx;
	font-size: 22rpx;
	color: #333;
	position: relative;
	overflow: hidden;
}


.all_city .city .name::after {
	content: '';
	position: absolute;
	// border-bottom: 1rpx solid #eaeef1;
	-webkit-transform: scaleY(0.5);
	transform: scaleY(0.5);
	bottom: 0;
	right: 0;
	left: 30rpx;
}



.fixed_bar {
	position: fixed;
	z-index: 999;
	top: 180rpx;
	right: 0px;
	padding-right: 10rpx;
	// width: 50rpx;
	font-size: 22rpx;
	text-align: center;
}

.bar_item {
 text-align: center;
}

// @media screen and (max-width: 320px) {
// 	.fixed_bar {
// 		font-size: 20rpx;
// 	}
// }

// .bar_item_active {
// 	background-color: #fff;
// 	box-shadow: 5rpx 5rpx 5rpx #f7c3ee;
// }

.fixed_letter {
	position: absolute;
	z-index: 20;
	width: 160rpx;
	height: 160rpx;
	left: 50%;
	top: 50%;
	margin-left: -80rpx;
	margin-top: -80rpx;
	border-radius: 80rpx;
	text-align: center;
	line-height: 160rpx;
	font-size: 70rpx;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: 5rpx 5rpx 5rpx #f7c3ee;
}

/* 搜索结果 */
.result_list {
	padding-top: 90rpx;
	background: #fff;
	width: 100%;
}

.r_item {
	width: 100%;
	position: relative;
	padding: 30rpx 0 30rpx 30rpx;
	font-size: 28rpx;
	color: #333;
	box-sizing: border-box;
}

.r_item::after {
	content: '';
	position: absolute;
	border-bottom: 1rpx solid #eaeef1;
	-webkit-transform: scaleY(0.5);
	transform: scaleY(0.5);
	bottom: 0;
	right: 0;
	left: 30rpx;
}

.r_item_hover {
	background-color: #eee !important;
}

.no_data {
	height: 500rpx;
	justify-content: center;
	font-size: 27rpx;
	color: #999;
}

.no_data image {
	width: 250rpx;
	height: 162rpx;
	margin-bottom: 30rpx;
}