/* pages/demo/index.wxss */
page {
  display: flex;
  flex-direction: column;
  // padding-top: env(safe-area-inset-top);
  height: 100vh;
  color: #1A191E;
}

// page,
// view {
//   box-sizing: border-box;
// }

.demo-container {
  flex: 1;
  padding: 0 20rpx;
  width: 100%;
  min-height: auto;
  overflow: hidden;
  
  box-sizing: border-box;

  .toolbar {
    width: 100%;
    height: 400rpx;
    justify-content: space-between;

    .toolbar-left {
      width: 48%;
      height: 400rpx;
      background: #ffffff;
      border-radius: 12px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .toolbar-box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 48%;

      .toolbar-right-t,
      .toolbar-right-b {
        background: #ffffff;
        width: 100%;
        height: 190rpx;
        border-radius: 12px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      }
    }
  }


}

.comment-container {
  width: 100vw;
  height: 100vh;
  // tabbar 91 顶部 400
  // height: calc(100% - 606rpx);
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0px;
  z-index: 999;
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  // transform: translateY(100%);
}

.comment-header {
  width: 100%;
  font-size: 16px;
  text-align: center;
  padding: 15px 0;
}

.close-comment {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 10px;
  font-weight: bold;
  background-color: #F8F8F8;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  z-index: 1;
}

.line-comment {
  height: 12rpx;
  width: 40px;
  border-radius: 24px;
  background: #EEE;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.comment-list {
  flex: 1;
  overflow: hidden;
  .demoItem {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
   box-sizing: border-box;
  
    padding: 0 40rpx;
    background: beige;
    margin-bottom: 5px;
  }
}



// 适配横条
.safe-area-inset-bottom {
  height: calc(env(safe-area-inset-bottom) + 50px);
}