/* components/z-tabs/z-tabs.wxss */
.tabsCntainer {
  width: 100%;
  height: 60px;
  display: flex;
  background-color: #eeeeee;
  padding: 5px;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
border-radius: 6rpx;
  .tabsItem {
    height: 50px;
    line-height: 50px;
    text-align: center;
    flex: 1 1 auto;
    position: relative;
    z-index: 1;
   

  }
  .tabsline {
    height: 50px;
    background: #ffffff;
    position: absolute;
    transition: all 0.3s;
    z-index: 0;
    top: 50%;
    transform: translateY(-50%);
		border-radius: 4rpx;
  }
}
// .tabsItemActive{
//   color:#3399ff;
// }