.formWrap {
  padding: 58rpx 48rpx;
  form {
      .formItem {
          margin-bottom: 38rpx;

          .formItemLable {
              margin-bottom: 16rpx;
          }

          input {
              padding: 0 18rpx;
              height: 88rpx;
              border-radius: 2rpx;
              border: 1px solid #979797;
              box-sizing: border-box;
          }
      }

  }

  .tip {
      margin-top: 10rpx;
      font-size: 28rpx;
      color: rgb(196, 36, 36);
  }

  button.formBtn {
      width: 100%;
      height: 96rpx;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #009eff;
      color: #fff;
      font-size: 28rpx;
      border-radius: 48rpx;
      margin-top: 98rpx;
  }

}
