/* subPackages/pages/book/index.wxss */
@import "../../../app.scss"; // 引入全局变量

.book-list {
	overflow: hidden;
	background-color: #fff;

	.book-item {


		padding: 20rpx;

		&:last-child {
			margin-bottom: 0;
		}

		.cover {
			width: 50rpx;
			height: 60rpx;
			margin-right: 20rpx;
		}


		.info {
			flex: 1;

			.book-name {
				color: #000000;
				font-size: 22rpx;
				// font-weight: 550;
				// padding-bottom: 8rpx;
			}

			.num {
				font-size: 20rpx;
				color: #666666;
			}
		}

		.icon {
			width: 34rpx;
			height: 34rpx;
		}
	}
}


