/* subPackages/pages/book/index.wxss */
@import "../../../app.scss"; // 引入全局变量

.multi{
	margin-top: 20rpx;
}
.book-list {
	overflow: hidden;


	.book-item {
	background-color: $z-bg-color;
		padding: 20rpx;
		margin-bottom: 10rpx;
		&.btn-hover {
			background-color: $z-btn-white-hover;
		}
		&:last-child {
			margin-bottom: 0;
		}

		.cover {
			width: 80rpx;
			height: 100rpx;
			margin-right: 20rpx;
		}


		.info {
			flex: 1;

			.book-name {
				color: $z-text-color;
				font-size: $z-font-size-22;
			}

			.num {
				font-size: $z-font-size-20;
				color: $z-text-color-80;
			}
		}

		.icon {
			width: 34rpx;
			height: 34rpx;
		}
	}
}


