/* subPackages/pages/transaction/date/index.wxss */
@import "../../../../app.scss"; // 引入全局变量

.text-error {
	color: $z-color-error;
}

.bill-list {
	background-color: #FFF;
	padding: 0 20rpx;
	margin: 20rpx;


	.bill-item_items {
		margin: 10rpx 0;

	}

	.left-icon {
		width: 54rpx;
		height: 54rpx;
		margin-right: 14rpx;
	}

	.border {
		flex: 1;
		display: flex;
		border-bottom: 1rpx solid #f1f1f1;
		padding: 14rpx 0 14rpx 14rpx;
		// &:last-child{
		//   border: none;
		// }
	}

	.center-info {
		flex: 1;

		.title {
			font-size: 24rpx;
			color: #000;
			font-weight: 550;
		}

		.desc,
		.date-other {
			font-size: 22rpx;
			color: #999999;
		}
	}

	.right-money {
		font-size: 26rpx;
		// margin-top: -40rpx;
	}

}