.swiper_cell {
  width: 100%;
  overflow: hidden;


  .swiper_cell_container {
    position: relative;
    // left: 0;
    display: flex;
    align-items: center;
  }

  .delete {
    position: absolute;
    right: -60px;
    height: 100%;
    width: 60px;
    text-align: center;
    background: #EF4444;
    box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.1), 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;

    .img {
      width: 12.25px;
      height: 14px;
    }
  }
}