/**index.wxss**/
page{
  width: 100%;
  height: 100%;
}
.container{
  width: 100%;
  height: 100%;
}
.nav {
  height: 80rpx;
  width: 100%;
  // box-sizing: border-box;
  // overflow: hidden;
  // line-height: 80rpx;
  background: #f7f7f7;
  font-size: 16px;
  white-space: nowrap;

  display: flex
  // position: relative;
  // top: 0;
  // left: 0;
  // z-index: 99;
}
.nav-item {
  width: 78px;
  // width: 60px;
  // padding: 0 11px;
  // display: inline-block;
  text-align: center;
  transition: all 0.6s;
}
.nav-item.active{
  color: red;
  font-weight: bold;
// --left:0
  // border-bottom: 10px solid red;
}
// .nav-item.active::before{
//   content: '';
//   left: var(--left);
//   height: 10px;
//   width: 78px;
//  background-color: red;
//   // border-bottom: 10px solid red;
// }
.tab-box{
  background: #fff;
  padding-top: 80rpx;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.tab-content{
  overflow-y: scroll;
}