/* pagesDemoList/pages/popup/index.wxss */
@import ' ../../../../../app.scss';
page {
  // height: 100vh;
  // display: flex;
  // flex-direction: column;
  // // padding: 0 40rpx;
  // background-color: #f6f6f6;
}