@import "../../app.scss"; // 引入全局变量
.bg-primary {
  background-color: $z-color-primary;
}
.bg-success {
  background-color: $z-color-success;
}
.bg-warning{
  background-color: $z-color-warning;
}
.bg-error{
  background-color: $z-color-error;
}

.text-primary {
  color: $z-color-primary;
}
.text-success {
  color: $z-color-success;
}
.text-warning{
  color: $z-color-warning;
}
.text-error{
 color: $z-color-error;
}

.calendar {
  width: 100%;
  text-align: center;
  // font-size: 30rpx;
  box-sizing: border-box;
  background-color: #fff;
	border-radius: 10rpx;
}

/* 标题 */

.calendar-title {
  line-height: 70rpx;
  font-size: 26rpx;
  padding: 20rpx 30rpx;
  box-sizing: border-box;
  display: flex;
  font-weight: 550;
  align-items: center;
  justify-content: space-between;
}

.calendar-title .icon {
width:40rpx;
height:40rpx;
image{
  width:100%;
  height:100%;
}
}

.calendar-title .item {
  display: inline-block;
  vertical-align: middle;

}

.calendar-title .title {

}

.calendar-title .today {
  float: right;
  // margin-top: 10rpx;
}

.calendar-title .toggleType image {
  // float: right;
  // margin-top: 10rpx;
  height: 40rpx;
  width: 40rpx;
  vertical-align: middle;
}

/* 星期 */

.calendar-week {
  display: flex;
  text-align: center;
  padding: 20rpx 10rpx;
  box-sizing: border-box;
 color: #ccc;
  // border-top: 1rpx solid #e0e0e0;
  // border-bottom: 1rpx solid #e0e0e0;
  // background: #fff;
}

.calendar-week .item {
  flex: 1;
}

/* 日期 */

.calendar-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20rpx 10rpx 0 10rpx;
  box-sizing: border-box;

}

.calendar-container .bgTitle {
  position: absolute;
  font-size: 136px;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ebecee;
}

.calendar-container .grid {
  display: inline-block;
  width: calc((100% - 10rpx) / 7);
  height: 88rpx;
  position: relative;
  z-index: 1;
	border: 1rpx solid transparent;
}

.calendar-container .grid .self {
  position: absolute;
  top: 0rpx;
  right: 0rpx;
  width: 15rpx;
  height: 15rpx;
  border-radius: 50%;
  background: rgb(49, 120, 228);
  border: 3rpx solid #fff;
}

.calendar-container .grid.gray {
  color: #ccc;
}
.calendar-container .grid .money{
  position: absolute;
  left:50%;
  top:36rpx;
  // bottom:10rpx;
  transform: translateX(-50%);
  font-size:18rpx;
  // width:100%;
  // height:100%;
  // background: rgb(49, 120, 228);÷ß
  .green{
    color:$z-color-success;
  }
  .red{
    color: $z-color-error;
  }
}
.calendar-container .grid.select {
  border:1rpx solid $-theme-color;
	background-color: #ffd6082d;
  border-radius: 4rpx;
  color: #000;
  // width: 80%;
  // margin: 0 auto;
	transition: all .2s ease-in;
}

/* 滚动展示 */

.calendar-x {
  white-space: nowrap;
  padding: 20rpx 0;
  height: 110rpx;
}

.calendar-x .grid {
  display: inline-block;
  line-height: 70rpx;
  position: relative;
  z-index: 1;
  width: 70rpx;
  text-align: center;
  background: #f5f5f5;
  border-radius: 10rpx;
  margin-left: 20rpx;
}

.calendar-x .grid:last-child {
  margin-right: 20rpx;
}

.calendar-x .grid .self {
  position: absolute;
  top: 0rpx;
  right: 0rpx;
  width: 15rpx;
  height: 15rpx;
  border-radius: 50%;
  background: $-theme-color;
  border: 3rpx solid #fff;
}

.calendar-x .grid.gray {
  color: #ccc;
}

.calendar-x .grid .wrap.select {
  background: rgb(49, 120, 228);
  border-radius: 10rpx;
  color: #fff;
  margin: 0 auto;
}
