/* pages/mine/index.wxss */
@import '../../app.scss';

.bg-error{
	background-color: $-chart-income-color;
}
.navbar-title {
	font-size: 22rpx;
	font-weight: normal;
}

.mine-container {
	padding-bottom: 20rpx;

	.header {
		position: relative;
		height: 300rpx;
		overflow: hidden;
		.cover {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: $-theme-color;
		}

		.content {
			// position: absolute;
			// left: 0;
			// right: 0;
			// display: flex;
			// flex-direction: column;
			// align-items: center;
			// justify-content: center;
			// color: #000;
			padding: 40rpx;

			.logo {
				width: 120rpx;
				flex-shrink: 1;
				height: 120rpx;
				border-radius: 50%;
				overflow: hidden;
			}

			.info {
				flex: 1;
				margin-left: 20rpx;

				.nickname {
					font-size: 26rpx;
					font-weight: 550;
					// padding: 30rpx 0;
				}
				.tipss{
					font-size: 20rpx;
					padding: 8rpx 0;
				}
				.tips {
					width: 120rpx;
					font-size: 20rpx;
					padding: 8rpx 0 4rpx;
					.level-icon{
						width: 20rpx;
						height:20rpx;
						margin-right: 6rpx;
					}
					.exp{
						color: #666666;
					}
				}
				.progress-content {
					width: 120rpx;
					.default {
						height: 4rpx;
						border-radius: 2rpx;
						overflow: hidden;
						background-color: $z-bg-color;
						.progress-bar {
							height: 100%;
							transition: width .3s ease;
						}
					}
				}
			}

			.icon-arrow {
				width: 26rpx;
				height: 26rpx;
				z-index: 999;
			}
		}
	}

	.icon-copperplate {
		position: absolute;
		right: -40rpx;
		top: -40rpx;
		width: 200rpx;
		height: 200rpx;

	}

	.count-content {
		position: absolute;
		bottom: 20rpx;
		left: 0;
		right: 0;

		.item {
			.num {
				font-weight: 550;
				font-size: 32rpx;
				text-align: center;
			}

			.title {
				padding-top: 4rpx;
				font-size: 20rpx;
			}
		}
	}

	.ribbon-content {


		.list {
			display: flex;
			justify-content: center;
			overflow: hidden;
			padding: 20rpx;
			.item {
				flex: 1;
				background-color: #FFF;
				padding: 20rpx;

				.icon {
					width: 44rpx;
					height: 44rpx;
					margin: 0 auto 4rpx;
				}

				.title {
					text-align: center;
					font-size: 20rpx;
					padding-top: 4rpx;
					color: #535252;
				}
			}
		}
	}

	.menu {
		margin: 0 20rpx 20rpx 20rpx;
	
		background-color: #FFF;

		.item {
			// margin-bottom: 20rpx;
			height: 80rpx;
	padding: 20rpx;
			.icon {
				width: 42rpx;
				height: 42rpx;
				margin-right: 20rpx;
			}

			.title {
				position: relative;
				flex: 1;
				font-size: 22rpx;
				color: #535252;
			}

			.icon-arrow {
				width: 26rpx;
				height: 26rpx;
			}
		}
	}
}
/* 关键：重置button布局为块级，强制左对齐 */
.button {
  background: transparent;
  border: none !important; /* 强制覆盖原生边框 */
  text-align: left !important; /* 强制左对齐 */
  font-size: 22rpx;
  color: #535252;
  padding: 0 !important; /* 覆盖原生内边距 */
  margin: 0 !important;
  display: block !important; /* 改为块级元素，左对齐生效 */
  width: 100%; /* 可选：占满父容器宽度，左对齐更明显 */
  line-height: normal; /* 重置行高，避免文字垂直居中干扰 */
  box-sizing: border-box;
}

/* 彻底清除button原生点击态/边框 */
.button::after {
  border: none !important;
  border-radius: 0 !important;
  content: none !important; /* 清除原生伪元素 */
}