@font-face {
  font-family: 'WeChatSansStd';
  src: url('https://env-00jxubueh4pn.normal.cloudstatic.cn/WeChatSansStd-Regular.ttf?expire_at=1764047061&er_sign=acc877bca1f5872e4cbd7cfb2c7da03f');
}
.num{
  font-family: 'WeChatSansStd';
}

.collapse-container {
  width: 100%;
  margin-bottom: 20rpx;
  overflow: hidden;
  background-color: #ffffff;
  // box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.collapse-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20rpx;
  font-weight: 500;
  color: #333333;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.collapse-header-hover {
  background-color: #f2f2f2;
}

.collapse-title {
  flex: 1;
  display: flex;
  align-items: center;
	font-size: 22rpx;
  text{
    font-size: 20rpx;
    color: #666666;
  }
}

.collapse-icon {
  color: #999999;
  transition: transform 0.3s ease;
}

.collapse-content-wrapper {
  overflow: hidden;
  transition: height 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s ease;
}

.collapse-content {
  padding: 20rpx;
  // font-size: 14px;
  color: #666666;
  line-height: 1.6;
  visibility: hidden;
  transition: visibility 0s linear 0.3s;
}

/* 当展开时，立即显示内容（取消visibility延迟） */
.collapse-content-wrapper[style*="height: 0px"] .collapse-content {
  visibility: hidden;
}

.collapse-content-wrapper:not([style*="height: 0px"]) .collapse-content {
  visibility: visible;
  transition-delay: 0s;
}

.right-arrow{
  display: flex;
  align-items: center;
  .total-money{
    margin-right: 10rpx;
  }
}