/* subPackages/pages/book/category/index.wxss */
.book-container {
	padding: 20rpx;

}

.book-list {
		background-color: #fff;
	overflow: hidden;
	.book-item {

		padding: 20rpx;
		// margin-bottom: 10rpx;

		&:last-child {
			margin-bottom: 0;
		}

		.cover {
			width: 50rpx;
			height: 60rpx;
			margin-right: 20rpx;
		}

		.info {
			flex: 1;

			.book-name {
				color: #000000;
				font-size: 22rpx;
			}

			.book-desc {
				font-size: 18rpx;
				color: #666666;
			}

			.num {
				font-size: 20rpx;
				color: #666666;
			}
		}

		.icon {
			width: 26rpx;
			height: 26rpx;
		}
	}
}