/* subPackages/pages/budget/add/index.wxss */
@import "../../../../app.scss"; // 引入全局变量


.header-card {
  position: relative;
  margin: 20rpx;
  background-color: #FFF;

  .budget-info {
    .num {
      color: #999999;
    }
		.total {
      font-size: 24rpx;
			margin-left: 20rpx;
    }
      .total-total {
        input{
          font-size: 32rpx !important;
        }
      }
    // }
  }
}



.budget-category-title {
  font-size: 24rpx;
  font-weight: bold;
  color: #000;
  margin: 20rpx;
}

.budget-list {
  background-color: #FFF;
  .budget-card {
    // margin: 20rpx 0;
    // padding: 20rpx;
		overflow: hidden;
    .icon {
      width: 54rpx;
      height: 54rpx;
    }

    .budget-title {
      font-size: 22rpx;
      margin-left: 20rpx;
    }


    .budget-money {
      flex: 1;
      font-size: 26rpx;
      .budget-input {
        flex: 1;
        text-align: right;
        input{
          font-size: 26rpx;
        }
      }
    }


    .total-money {
      font-size: 32rpx;
    }
  }

}







.budget-card {
  // margin: 20rpx 0;
  padding: 20rpx;
  background-color: #FFF;
	overflow: hidden;
  .icon {
    width: 76rpx;
    height: 76rpx;
  }

  .card {

    flex: 1;
    margin-left: 20rpx;

    .budget-title {
      flex: 1;
      font-size: 28rpx;
    }

    .progress-container {
      margin: 12rpx 0;
      height: 6rpx;
      background-color: #e6e6e6;
      border-radius: 4rpx;
      overflow: hidden;
    }

    .progress-bar {
      height: 100%;
      transition: width .3s ease;
    }

    .budget-money {
      color: #999999;
    }
  }
}








/* 占位符颜色 */
.budget-input.num::placeholder {
  color: #999999;
  opacity: 1; /* 统一各浏览器透明度 */
}

/* 有值且未聚焦：文字变黑 */
.budget-input.num:not(:focus):valid {
  color: #000000;
}

/* 聚焦时样式优化（可选） */
.budget-input.num:focus {
  border-color: #999999;
  box-shadow: 0 0 4px rgba(153, 153, 153, 0.3); /* 轻微发光效果 */
}