/* subPackages/pages/budget/index.wxss */
@import "../../../app.scss"; // 引入全局变量
.bg-success {
	background-color: $z-color-success;
}
.bg-error {
	background-color: $z-color-error;
}
.bg-warning {
	background-color: $z-color-warning;
}
.text-error {
	color: $z-color-error;
}
.header-card {
  position: relative;
  margin: 20rpx;
  background-color: #FFF;
	overflow: hidden;
  .budget-info {

    padding: 20rpx;
    transition: all .3s ease;

    .icon-edit {
      position: absolute;
      top: 20rpx;
      right: 20rpx;
      width: 40rpx;
      height: 40rpx;
			z-index: 999;
    }

    .num {
      color: $z-text-color-60;
    }

    .budget-title {
      text-align: center;
      padding-top: 10rpx;
      color: $z-text-color;
			font-weight: 550;
      font-size: $z-font-size-22;
			z-index: -1;
    }

    .budget-amount {
      text-align: center;
      font-size: 44rpx;
      font-weight: bold;
      padding: 20rpx 0;
      color: $z-text-color;
    }

    .budget-progress-container {
      margin: 10rpx 0;
      height: 6rpx;
      background-color: $z-bg-color-progress;
      overflow: hidden;
    }

    .progress-bar {
      height: 100%;
      transition: width .3s ease;
    }

    .budget-card {
      padding: 0;
    }
  }
}



.budget-category-title {
  font-size: $z-font-size-20;
  font-weight: bold;
  color: $z-text-color;
  margin: 20rpx;
}

.budget-list{
  background-color: #FFF;
	overflow: hidden;
}

.budget-card {
  padding: 20rpx;
  background-color: #FFF;

  .icon {
    width: 54rpx;
    height: 54rpx;
		background-color: $z-bg-color-grey;
		overflow: hidden;
  }

  .card {
    flex: 1;
    margin-left: 20rpx;

    .card-bp {
      // height:40rpx;
      color: $z-text-color;
    }

    .card-bt {
      font-size: $z-font-size-20;
      text {
       
        color: $z-text-color-60;
      }
    }

    .budget-progress-container {
      margin: 6rpx 0;
      height: 4rpx;
      background-color: $z-bg-color-progress;
      overflow: hidden;
    }

    .progress-bar {
      height: 100%;
      transition: width .3s ease;
    }

    .budget-money {
      color: $z-text-color-80;
    }
  }
}


